
/*********** General Text Styling ************/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

pre {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    text-align: left;
    
}

/*********** Headings ************/

header {
    font-family: 'Roboto Slab', serif;
    background-color: white;
    color: #63C172;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.headerHighlight {
    background-color: #ACF5B8;
}

#shoppingCartCount {
    float: right;
    margin-top: 40px;
    right: 60px;
    position: absolute;
    background: #63C172;
    color: black;
    border-radius: 75%;
    width: 22px;
    height: 22px;
    z-index: 1000;

}

/*********** Home Page ************/

.logo {
    width: 45%;
    height: 40%;
    float: left;
    margin-top: 5px;
}

.shoppingCartIcon {
    width: 18%;
    height: 18%;
    float: right;
    margin-top: 21px;
    margin-right: 5%;
    position: relative;
}

.profileIcon {
    width: 24%;
    height: 24%;
    float: right;
    margin-top: 17px;
    margin-right: -10%;
    position: relative;
}

.searchBar {
    background-color: #E5E5E5;
    border: none;
    color: #787878;
    padding: 8px;
    padding-right: 50%;
    margin-top: 4%;
    margin-left: -30%;
    font-size: 100%;
    border-radius: 12px;
    position: absolute;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

/*********** Homepage Navigation Bar ************/

.navBar {
    height: 40px;
    background-color: #5B64AE;
    margin: 0;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 10px;
    padding-right: 7%;
    padding-left: 7%;
}

nav a {
    color: white;
    text-decoration: none;
}

/*********** Homepage Slideshow ************/

.slideshow {
    position: relative;
}

.slideshow img {
    width: 100%;
    max-height: 570px;
    min-height: 110%;
}

.slideText {
    color: #63C172;
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 400%;
    text-align: left;
}

.slideDesc {
    color: white;
    position: absolute;
    top: 100%;
    left: 0%;
    font-size: 30%;
    text-align: left;
}

.slideShopButton {
    background-color: #63C172;
    border: none;
    color: white;
    padding: 15px;
    position: absolute;
    bottom: 25%;
    left: 15%;
    font-size: 150%;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
}

.homeBottom {
    position: relative;
    background: #C6DDFF; 
    border: 10px;
    border-color: red;
    width: 100%;
    height: 80px;
}

.circleA {
    background: #63C172;
    border: none;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    left: 46%;
    position: absolute;
    margin-top: 5px;
}

.circleB {
    background: #ADADAF;
    border: none;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    left: 48%;
    position: absolute;
    margin-top: 5px;
}

.circleC {
    background: #ADADAF;
    border: none;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    left: 50%;
    position: absolute;
    margin-top: 5px;
}

.circleD {
    background: #ADADAF;
    border: none;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    left: 52%;
    position: absolute;
    margin-top: 5px;
}

.circleE {
    background: #ADADAF;
    border: none;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    left: 54%;
    position: absolute;
    margin-top: 5px;
}

.bottomText {
    position: relative;
    text-align: center;
    top: 50%;
    font-size: 20px;
}

/*********** Product Page ************/

.navPath {
    color: #787878;
    position: absolute;
    left: 10%;
}

.productPageDetails {
    position: absolute;
    right: 10%;
 
}

/*********** Product Page Structure ************/

.pageGrid {
    display: grid;
    position: relative;
    margin: auto;
    grid-template-areas: "filter productGrid";
    grid-template-columns: 200px 200px;
    grid-template-rows: 500px;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 4%;
}

.productGrid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(2, 250px);
  grid-gap: 10px;
  grid-auto-rows: 500px;
  position: relative;
  justify-items: center;
  justify-content: center; 
  align-items: stretch;
  justify-self: start; 
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
  margin-left: 10%;
  margin-right: 50%;
}

.product {
  box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
  width: 200px;
}

.productGrid img {
    width: 100%;
}

/*********** Product Image Styling ************/

.A a {
    color: black;
    text-decoration: none;
}

.B img{
    width: 90%;
    height: 200px;
}

.C img{
    width: 80%;
    height: 200px;
}

.D img{
    width: 85%;
    height: 200px;
}

.E img{
    width: 90%;
    height: 200px;
}

.F img{
    width: 80%;
    height: 200px;
}

/*********** Product Page Item Text ************/

.productGrid h4 {
    border-top: 1px solid #4a4a4a;
    margin-top: -2px;
    margin-left: 5px;
    font-size: 10px;
}

.price {
    margin-top: -5%;
    margin-left: 5px;
    font-size: 10px;
}

/*********** Product Page Filter Styling ************/

.filter {
    margin-top: 4%;
    margin-left: 10%;
}

.filterItem {
    border-top: 1px solid #4a4a4a;
    margin-top: 5px;
}

/*********** Product Details Page Structure ************/

.container {
  display: grid;
  max-width: 1100px;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template-areas: "imageSide imageMain details";
  grid-template-columns: 200px 500px 400px; 
  grid-template-rows: 600px;
  border: 1px;
  top: 30px;
  left: 10px;
}

.imageSide {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  grid-auto-rows: 500px;
  position: relative;
  justify-items: center;
  justify-content: center; 
  align-items: stretch;
  justify-self: start; 
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
  margin-left: 10%;
  margin-right: 50%;
}

.image {
  /* box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.2); */
  width: 150px;
  height: 100px;
}

/*********** Product Page Image Styling ************/

.imageSide img {
    width: 70%;
    height: 92%;
    margin-left: 15px;
}

.imageMain img {
    /* width: 550px;
    height: 600px; */
    margin-left: -50px;
}

/*********** Product Page Item Details ************/

.productName {
    font-size: 25px;
}

.dropSize {
    position: relative;
    top: 100px;

}

.dropColor {
    position: relative;
    top: 120px;

}

#size {
    width: 150px;
}

#color {
    width: 150px;
}

.price {
    font-size: 12px;
}

.number {
    position: relative;
    top: 140px;
}

.shipping {
    background-color: #F3F3F3;
    margin-top: 250px;
}

.shipping h3 {
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #F3F3F3;
}

.buyButton {
    background-color: #81B3FF;
    border: none;
    color: black;
    position: absolute;
    margin-top: 200px;
    padding: 10px;
    top: 330px;
   
    font-size: 125%;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
}

.itemMinusProductDetails {
    border-radius: 10px;

    width:21px;
    height:21px;
    background-color: white;
    border-color: #787878;
    margin-left: -50px;
}

.number p {
    background-color: #F3F3F3;
    border: none;
    width:21px;
    height:21px;
    border-radius: 5px;
    float: left;
    margin-left: 25px;
    margin-top: -0px;
    text-align: center;
    justify-content: center;
}

.itemPlusProductDetails {
    border-radius: 15px;
    margin-left: 30px;
    width:22px;
    height:22px;
    background-color: white;
    border-color: #787878;

}

/*********** Shopping Cart Page Structure ************/

.itemContainer {
    display: grid;
    max-width: 1100px;
    position: relative;
    margin: auto;
    grid-gap: 10px;
    grid-template-areas: "itemList cartDetails";
    grid-template-columns: 700px 400px; 
    grid-template-rows: 600px;
    border: 1px;
    top: 30px;
}

/*********** Shopping Cart Item Details ************/
.itemList {
    background-color: white;
    border: 2px #E5E5E5 solid;
    display: grid;
    grid-template: repeat(2, 30%) / 1fr;
    grid-gap: -50px;
    position: relative;
    justify-items: center;
    justify-content: center; 
    align-items: stretch;
    grid-auto-rows: 500px;
    grid-auto-flow: dense;

}

.cartDetails {
    background-color: #E5E5E5;
    border: green;
}

.listItem {
    background-color: #E5E5E5;
    color: black;
    border-radius: 15px;
    width: 90%;
    height: 150px;
    margin-top: -130px;
    margin-left: : 22px;
    margin-right: 20px;
}

.listItem img {
    width: auto;
    height: 80%;
    margin: 12px;
}

.shoppingCartHeader p {
    margin-left: 200px;
    left: 100px;
    width: 250px;
    font-weight: bold;
    text-align: left;

}

.itemName {
    margin-left: 150px;
    margin-top: -130px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.shoppingCartType {
    margin-left: 150px;
    margin-top: -10px;
    font-size: 12px;
    text-align: left;
}

.shoppingCartHeader {
    text-align: left;
    margin-top: 14px;
    margin-left: -500px;
    font-size: 22px;
    font-weight: bold;
    color: #3C3C3C;
}

.itemMinus {
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 150px;
    width:21px;
    height:21px;
    background-color: white;
    border-color: #787878;
}

.itemNum {
    background-color: white;
    border: none;
    width:21px;
    height:21px;
    border-radius: 5px;
}

.itemPlus {
    border-radius: 15px;
    margin-top: 20px;
    width:22px;
    height:22px;
    background-color: white;
    border-color: #787878;
}

.shoppingCartItemPrice {
    margin-left: 550px;
    margin-top: -95px;
}

.shoppingCartRemove {
    margin-top: 80px;
    margin-left: 555px;
    font-size: 12px;
    text-decoration: underline;
}

/*********** Shopping Cart Price Details ************/


.cartSubHeadings {
    margin-top: 15px;
    margin-left: 25px;
    color: #3C3C3C;
    font-size: 16px;
    line-height: 30px;
}

.cartPriceDetails {
    margin-top: -110px;
    margin-right: 20px;
    color: #3C3C3C;
    font-size: 14px;
    line-height: 32px;
    text-align: right;
    font-weight: 1000 !important; 
}

.line {
    border-bottom: 2px solid #ADADAF;
    display: block;
}

.cartTotal {
    margin-top: 15px;
    margin-left: 22px;
    font-size: 24px;
}

.totalPrice {
    margin-top: -50px;
    margin-left: 325px;
    font-size: 22px;
}

.promoCode {
    background-color: white;
    border: none;
    color: #787878;
    padding: 8px;
    padding-right: 24%;
    margin-top: 0%;
    margin-left: 20px;
    font-size: 100%;
    border-radius: 12px;
    position: absolute;
}

.checkout {
    margin-top: 350px;
    margin-left: 100px;
    padding: 8px;
    background-color: #63C172;
    color: black;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
}
